body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1 {
  text-align: center;
  font-family: "Lucida Bright";
}

.button {
  color: #fff;
  background-color: #ad5389;
}

.button:hover {
  color: #fff;
  background-color: #3c1053;
}

.button:focus {
  outline: none !important;
  box-shadow: 0 0 0 0;
}

@media (max-width: 768px) {
  .button {
    font-size: 11px;
    padding: 4px 8px;
  }
  .h1 {
    font-size: 22px;
  }
  .h3 {
    font-size: 18px;
  }
  input {
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 12px;
    padding: 6px 10px;
  }
  .h1 {
    font-size: 25px;
  }
  .h3 {
    font-size: 20px;
  }
  input {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  .button {
    font-size: 14px;
    padding: 8px 10px;
  }
  .h1 {
    font-size: 27px;
  }
  .h3 {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .button {
    padding: 10px 10px;
    font-size: 18px;
  }
  .h1 {
    font-size: 30px;
  }
  .h3 {
    font-size: 25px;
  }
}
